/* header h1 {
    font-family: 'Candal', sans-serif;
    font-size: 3em;
} */
/* 
header p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
} */

main h2 {
    font-family: 'Candal', sans-serif;
    font-size: 1.8em;
    color: var(--color-dark);

}

main h3 {
    font-family: 'Candal', sans-serif;
    font-size: 1.2em;
}

p {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-pink :#fc8a9bff;
    --color-dark :#213e4f;
    --color-backgroundMain : #ffff;
    --color-grey-dot: #898686;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 7%;
}

#headerPack h2 {
    text-align: center;
    border: dotted 2px;
    border-bottom: none;
    border-color: var(--color-grey-dot);
    width: 100%;
    padding-top: 5%; 
    padding-bottom: 5%;
}

#globalPack p {
    width: 100%;
    color: var(--color-grey-dot);
}

#packDiv h3 {
    width: 100%;
}

.packs {
    text-align: center;
    border: dotted 2px;
    border-color: var(--color-grey-dot);
    width: 100%;
    padding: 5%;
}


footer {
    width: 100%;
    height: 19.625rem;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: row;
    color: var(--color-backgroundMain);
    max-width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-top: -10% ;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 960px){
    .footer {
        flex-direction: column;
        }

}