@import url('https://fonts.googleapis.com/css2?family=Candal&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --color-pink: #fc8a9bff;
    --color-dark: #213e4f;
    --color-gray: #7e7e7e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    font-family: 'Candal', sans-serif;
    font-size: 3em;
}

header p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

main h2 {
    font-family: 'Candal', sans-serif;
    font-size: 1.8em;
    color: var(--color-dark);

}

main h3 {
    font-family: 'Candal', sans-serif;
    font-size: 1.2em;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* -Début de header- */
.navbar{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}
.navbar .logo{
    display: flex;
    justify-content: center;
}
.navbar .logo img{
    width: 80px;    
}
.navbar .link-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: var(--color-dark);
}
.navbar a span{
    color: var(--color-pink);
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}
.navbar a span:hover{
    color: var(--color-dark);
}
.navbar a p {
    font-family: 'Candal', sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.img-header{
    background-image: url(/img/background.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Candal', sans-serif;
    color: #fff;
    padding: 10% 5%;
    text-align: center;
}
.img-header h1{
    margin: 20px;
    font-size: 3em;
}
.img-header p{
    margin: 10px;
    line-height: 2em;
    font-size: 2em;
}
.search{
    background-color: var(--color-pink);
    padding: 10px 60px;
}
.search input{
    width: 100%;
    background-color: var(--color-pink);
    border: none;
}
.search input:focus{
    outline: none;
}
.search input::placeholder{
    color: #ffffff5d;
    border: none;
}
@media (max-width: 960px){
    .navbar{
        flex-direction: column;
    }
    .navbar .logo{
        margin: 40px 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    .navbar a span{
        font-size: 26px;
    }
    .navbar .link-page{
        margin-top: 30px;
    }
    .navbar .link-page p{
        font-size: 1em;
    }
}
/* Fin Header */



/* Debut content Home */
main .home-content{
    display: flex;
    flex-direction: column;
    margin: 40px 60px;
}
main .home-content .top,
main .home-content .bot{
    display: flex;
    flex-direction: column;
}
main .home-content .title{
    text-align: center;
    padding: 20px 0;
    color: var(--color-dark);
    font-family: 'Candal', sans-serif;
    border-top: 1px dashed #c2c2c2;
    border-left: 1px dashed #c2c2c2;
    border-right: 1px dashed #c2c2c2;
}
main .home-content .top .block-info,
main .home-content .bot .block-info{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
}
main .home-content .top .block-info{
    margin-bottom: 40px;
}
main .home-content span{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color-pink);
}
main .home-content .logo .icon-block{
    font-size: 3em;
}
main .home-content span p{
    color: var(--color-pink);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    margin: 20px;
}
main .home-content p.price{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 20px;
}
main .home-content .small-block{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6rem;
    color: var(--color-gray);
    width: 30%;
}

@media (max-width: 960px) {
    main .home-content .top .block-info,
    main .home-content .bot .block-info{
        flex-direction: column;
        align-items: center;
    }
    main .home-content .title{
        font-size: 1.4em;
    }
    main .home-content .small-block{
        font-size: 0.8rem;
        width: 100%;
        margin-top: 40px;
    }
}

/* Debut Cloud Packs content */

.home-content p {
    padding: 3%;
    color: var(--color-gray);
}

.home-content #packDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 3%;
}

.home-content .packs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: dotted 2px;
    border-color: var(--color-gray);
    width: 31%;
    padding: 0.3125rem;
}

#packDiv h3 {
    width: 100%;
    background-color: var(--color-dark);
    color: white;
    padding: 1.25rem;   
}
.home-content .packs ul li {
    ont-family: 'Open Sans', sans-serif;
    font-size: 2em;
}



/* End Cloud Paks content */


/* Start footer */
footer {
    width: 100%;
    height: 19.625rem;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: row;
    color: var(--color-backgroundMain);
    max-width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-top: -10% ;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;
}