:root {
    --color-pink: #fc8a9bff;
    --color-dark: #213e4f;
    --color-gray: #707070ff;
    --color-backgroundMain : #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* -Début de header- */
.navbar{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
}
.navbar .logo{
    display: flex;
    justify-content: center;
}

.navbar .link-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
.navbar a div { /* Logo */
    color: var(--color-pink);
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    transition: all 0.3s;
}
.navbar a p { /* Text du logo */
    color: var(--color-dark);
    font-family: 'Candal', sans-serif;
    font-weight: bold;
    transition: all 0.3s;
}
.navbar a div:hover {
    color: var(--color-dark);
}
.navbar a div:hover + p{
    color: var(--color-pink);
}

.navbar-hover:hover div  {
    color: var(--color-dark);
}

.navbar-hover:hover p {
    color: var(--color-pink);
}


.img-header{
    background-image: url(/img/background.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Candal', sans-serif;
    color: #fff;
    padding: 10% 5%;
    text-align: center;
}
.img-header h1{
    margin: 20px;
    font-size: 3em;
}
.img-header p{
    margin: 10px;
    line-height: 2em;
    font-size: 2em;
}
.search{
    background-color: var(--color-pink);
    padding: 10px 60px;
}
.search input{
    width: 100%;
    background-color: var(--color-pink);
    border: none;
}
.search input:focus{
    outline: none;
}
.search input::placeholder{
    color: #ffffff5d;
    border: none;
}
@media (max-width: 960px){
    .navbar{
        flex-direction: column;
    }
    .navbar .logo{
        margin: 40px 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    .navbar a span{
    }
    .navbar .link-page{
        margin-top: 30px;
    }
    .navbar .link-page p{
    }
}
/* Fin Header */


/* Debut home-content */
/* Debut contact-content */
main .home-content{
    display: flex;
    flex-direction: column;
    margin: 40px 10%;
}
main .home-content .top,
main .home-content .bot{
    display: flex;
    flex-direction: column;
    padding: 3%;
}
main .home-content .title{
    text-align: center;
    padding: 20px 0;
    font-size: 1.8em;
    color: var(--color-dark);
    font-family: 'Candal', sans-serif;
    border: 1px dashed #707070ff;
    border-bottom: none;

}
main .home-content .top .block-info,
main .home-content .bot .block-info{
    display: flex;
    flex-direction: row;
    padding: 3% 2%;
    justify-content: space-between;
}
main .home-content .top  {
    padding: 3%;
    color: #707070ff;
}
main .home-content .top .block-info{
    margin-bottom: 40px;
}
main .home-content span {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color-pink);
}

main .home-content span p {
    color: var(--color-pink);
}

main .home-content .logo .icon-block{
    font-size: 1.2em;
}
main .home-content span h3{
    color: var(--color-pink);
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}
main .home-content p.price{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 20px;
}
main .home-content .small-block{
    font-family: 'Open Sans', sans-serif;
    color: var(--color-gray);
    width: 30%;
}

#map-contact {
    height: 22.8125rem;
}

@media (max-width: 960px) {
    main .home-content .top .block-info,
    main .home-content .bot .block-info{
        flex-direction: column;
        align-items: center;
    }

    main .home-content .small-block{
        width: 100%;
        margin-top: 40px;
    }
}

/* ----------Debut block serveur mutualise--------- */
/* ----------Debut block serveur dédié--------- */
/* ----------Debut block cloud--------- */
main .serveur-mutualise-content,
main .serveur-dedie-content,
main .cloud-content{
    display: flex;
    flex-direction: column;
    margin: 40px 10%;
}

main .serveur-mutualise-content .title h2,
main .serveur-dedie-content .title h2,
main .cloud-content .title h2{
    /*text-align: center;*/
    padding: 20px 0;
    /*color: var(--color-dark);
    font-family: 'Candal', sans-serif;
    font-size: 1.8em;
    /*border: 1px dashed var(--color-dark);*/
    /*border-bottom: none;*/
    margin-bottom: 40px;
}

main .serveur-mutualise-content .title p,
main .serveur-dedie-content .title p,
main .cloud-content .title p{
    text-align: center;
    padding: 0 20px;
    color: var(--color-gray);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
main .serveur-mutualise-content .block-info,
main .serveur-dedie-content .block-info,
main .cloud-content .block-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .serveur-mutualise-content .block-info .small-block,
main .serveur-dedie-content .block-info .small-block,
main .cloud-content .block-info .small-block{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 30px 5px 10px;
    border: 1px dashed #c2c2c2;
}
main .serveur-mutualise-content .banner,
main .serveur-dedie-content .banner,
main .cloud-content .banner{
    background-color: var(--color-dark);
    text-align: center;
}
main .serveur-mutualise-content .banner h3,
main .serveur-dedie-content .banner h3,
main .cloud-content .banner h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--color-backgroundMain);
    padding: 15px 0;
    letter-spacing: 0.7px;
}
main .serveur-mutualise-content p.description-offre,
main .serveur-dedie-content p.description-offre,
main .cloud-content p.description-offre{
    font-family: 'Open Sans', sans-serif;
    color: var(--color-gray);
    letter-spacing: -1px;
    padding: 10px 0;
    letter-spacing: 0.7px;
    padding: 10 20px;
    text-align: center;
}
main .serveur-mutualise-content ul,
main .serveur-dedie-content ul,
main .cloud-content ul{
    font-family: 'Open Sans', sans-serif;
    color: var(--color-gray);
    padding-left: 40px;
    letter-spacing: 0.7px;
    list-style: circle;
}
main .serveur-mutualise-content ul li,
main .serveur-dedie-content ul li,
main .cloud-content ul li{
    padding: 5px 0;
}
main .serveur-mutualise-content p.price,
main .serveur-dedie-content p.price,
main .cloud-content p.price{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--color-dark);
    padding: 20px 0;
    letter-spacing: 0.5px;
}
main .serveur-mutualise-content a,
main .serveur-dedie-content a,
main .cloud-content a{
    background-color: var(--color-pink);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--color-backgroundMain);
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
}
@media (max-width: 960px) {
    main .serveur-mutualise-content .title h2,
    main .serveur-dedie-content .title h2,
    main .cloud-content .title h2
    {
        padding: 30px 0;
    }
    main .serveur-mutualise-content .title p,
    main .serveur-dedie-content .title p,
    main .cloud-content .title p
    {
        text-align: left;
    }
    main .serveur-mutualise-content .block-info,
    main .serveur-dedie-content .block-info,
    main .cloud-content .block-info
    {
        flex-direction: column;
        align-items: center;
    }
    main .serveur-mutualise-content .block-info .small-block,
    main .serveur-dedie-content .block-info .small-block,
    main .cloud-content .block-info .small-block
    {
        width: 100%;
        margin-top: 40px;
    }
    main .serveur-mutualise-content .banner p,
    main .serveur-dedie-content .banner p,
    main .cloud-content .banner p
    {
        padding: 30px 0;
    }
    main .serveur-mutualise-content p.description-offre,
    main .serveur-dedie-content p.description-offre,
    main .cloud-content p.description-offre
    {
        padding: 20px 0;
        letter-spacing: -0.5px;
    }
    main .serveur-mutualise-content ul,
    main .serveur-dedie-content ul,
    main .cloud-content ul
    {
        padding-left: 60px;
        list-style: circle;
    }
    main .serveur-mutualise-content ul li,
    main .serveur-dedie-content ul li,
    main .cloud-content ul li
    {
        padding: 10px 0;
    }
    main .serveur-mutualise-content p.price,
    main .serveur-dedie-content p.price,
    main .cloud-content p.price
    {
        padding: 30px 0;
    }
    main .serveur-mutualise-content a,
    main .serveur-dedie-content a,
    main .cloud-content a
    {
        text-align: center;
        padding: 15px 0;
    }
}


/*main .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .contact-content .top{
    display: flex;
    flex-direction: column;
}
main .contact-content .top .title{
    text-align: center;
    padding: 20px 0;
}
main .contact-content #map-contact iframe{
    width: 100vw;
    height: 80vh;
}*/

#map-contact iframe {
    width: 100%;
    height: 100%;
}

.home-content .block-info .info-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding-top: 0.9375rem;
}

.home-content .block-info #contact-address {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.home-content .block-info .info-contact p {
    text-align: center;
    line-height: 1.5625rem;
}

.home-content .block-info .info-contact span {
    color: pink; 
    padding-top: 0.0625rem;
}

.block-info .small-block .logo-contact {   
    border-bottom: 1px dotted pink;
    padding-bottom: 5%;
}







footer nav {
    list-style: none;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding-bottom: 40px;
}
footer nav a{
    list-style: none;
    color: var(--color-backgroundMain);
    text-decoration: none;
    padding: 60px 0;
}

@media (max-width: 960px){
    footer nav {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 200px;
        padding-top: 50px;
    }
    footer nav a{
        padding: 20px;
    }

}



.login-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}
.login-content .login{
    display: flex;
    flex-direction: column;
    margin: 5% 2%;
}
.login label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
}
.login input{
    width: 200px;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid var(--color-dark);
}
.login input:focus{
    outline: none;
}
.login button{
    margin: 40px 0;
    border: none;
    padding: 20px 0;
    cursor: pointer;
}